<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "discordcrappyeditionfake.prodigymathgamestaff.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Discord: Crappy Edition</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap. It's Discord! but real crappy!
    </description>

    <author href="http://scratch.mit.edu/users/ProdigyMathGameStaff" email="[realiksoftoriginal@gmail.com]">
        [ProdigyMathGameStaff]
    </author>

</widget>
